// index.scss
// Option A: Includes all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)

//
@import "../../node_modules/bootstrap/scss/bootstrap";

// additional custom code goes here
/* body {
  background-color: lighten( #556cd6ff, 35%); // 
} */

// for styling MUI-components:
@keyframes animateCol {

  from {
    background-color: #{mix(lightcoral, $purple-500)};
    transform: translate(50%, -50%);
  }

  to {
    background-color: #{mix(lightcoral, $purple-100)};
    transform: translate(0%, 0%);
  }
}

.col-animate {
  animation-name: animateCol;
  animation-duration: 2s;
}

.animationBlueTheme {
  @keyframes animateBg {
    from {
      background-color: #{mix(lightcoral, $purple-600)};
    }

    to {
      background-color: #{mix($blue-700, $purple-600)};
    }
  }
}
// cannot be used as a value for property "animation-name"

@keyframes rotateAvatar {
  from {
    background-color: #{mix(lightcoral, $purple-100)};
    transform: rotate(0deg);
  }

  to {
    background-color: #{mix(lightcoral, $purple-500)};
    transform: rotate(360deg);
  }
}

.avatar-rotate {
  animation-name: rotateAvatar;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(red 0deg 90deg,
      tomato 90deg 180deg,
      yellow 180deg 270deg,
      green 270deg 360deg);
  position: relative;
}

.circleInner {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: conic-gradient(darkslategrey 0deg 360deg);
  position: absolute;
}

// classes for Wheel.js
.segment {
  background-color: #{mix(lightcoral, $purple-500)};
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s;
}

.segment:hover {
  opacity: 0.85;
  transform: scale(1.03);
}

.label {
  font-family: sans-serif;
  font-size: 16px;
  fill: white;
  pointer-events: none;
}

.widthBox50 {
  width: '50%'
}
.widthBox100 {
  width: '100%'
}

// Themes 
[data-bs-theme="blue"] {
  --bs-body-color: #{mix($blue-100, $white)};

  --bs-body-bg: #{mix($blue-900, $purple-800)};

  --bs-tertiary-bg: #{$blue-600};

  // for styling MUI-components:
  @keyframes animateBg {
    from {
      background-color: #{mix($white, $purple-100)};
    }

    to {
      background-color: #{mix($blue-700, $purple-600)};
    }
  }

  .bg-component {
    background-color: #{mix($blue-800, $purple-600)};
    color: #{mix(lightsteelblue, $blue-100)};
    animation-name: animateBg;
    // animation-name: animationBlueTheme;
    animation-duration: 2s;
  }
}

[data-bs-theme="orange"] {
  // --bs-body-color: var(--bs-white);  // colors any text on a view 
  --bs-body-color: #{mix($orange-100, $white)}; // colors any text on a view 

  // --bs-body-bg: var(--bs-orange);  // colors the background of one view 
  --bs-body-bg: #{mix($orange-500, $yellow-500)};

  --bs-tertiary-bg: #{$orange-600};

  // for styling MUI-components:
  @keyframes animateBg {
    from {
      background-color: #{mix(lightcoral, $orange-100)};
    }

    to {
      background-color: #{mix($orange-600, $yellow-500)};
    }
  }

  .bg-component {
    background-color: #{mix($orange-600, $yellow-600)};
    color: #{mix(lightsteelblue, $orange-100)};
    animation-name: animateBg;
    // animation-name: animationBlueTheme;
    animation-duration: 2s;
  }
}

[data-bs-theme="red"] {
  // --bs-body-color: var(--bs-white);  // colors any text on a view 
  // --bs-body-color: #{$red-900}; // colors any text on a view 
  --bs-body-color: #{mix($red-100, $white)}; // colors any text on a view 

  // --bs-body-bg: var(--bs-red);  // colors the background of one view 
  // --bs-body-bg: #{mix($red-100, $red-900)};
  --bs-body-bg: #{mix($red-800, $red-700)};

  --bs-secondary-bg: #{$red-400};
  --bs-tertiary-bg: #{$red-500};

  // for styling MUI-components:
  @keyframes animateBg {
    from {
      background-color: #{mix($white, $red-100)};
    }

    to {
      background-color: #{mix($red-700, $red-600)};
    }
  }

  .bg-component {
    background-color: #{mix($red-800, $red-600)};
    color: #{mix(lightsteelblue, $red-100)};
    animation-name: animateBg;
    // animation-name: animationBlueTheme;
    animation-duration: 2s;
  }
}

// other themes using: [data-bs-theme="<name>"]{ key: value }

// usage (compile SCSS into CSS): in directory \src\scss: sass <source-file> <target-file> 
// example: sass index.scss index.css 