// index.scss
// Option A: Includes all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)

//
@import "../../node_modules/bootstrap/scss/bootstrap";

// additional custom code goes here
/* body {
  background-color: lighten( #556cd6ff, 35%); // 
} */


// Themes 
[data-bs-theme="blue"] {
  --bs-body-color: var(--bs-white);
  // --bs-body-color-rgb: #{to-rgb($white)};

  --bs-body-bg: #{mix($blue-900, $purple-800)};
  // --bs-body-bg-rgb: #{to-rgb($blue)};

  --bs-tertiary-bg: #{$blue-600};

  // for styling MUI-components:
  @keyframes animateBg {
	from {
		// background-color: lightcoral;
    background-color: #{mix(lightcoral, $purple-600)};
	}
	to {
		background-color: #{mix($blue-700, $purple-600)};
	}
}
  .bg-component {
    background-color: #{mix($blue-800, $purple-700)};
    color: lightsteelblue;
    animation-name: animateBg;
    animation-duration: 2s;
  }

  .dropdown-menu {
    --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
    --bs-dropdown-link-active-bg: #{$blue-700};
  }

  .btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }
}

[data-bs-theme="orange"] {
  // --bs-body-color: var(--bs-white);  // colors any text on a view 
  --bs-body-color: #{$orange-900}; // colors any text on a view 

  // --bs-body-bg: var(--bs-orange);  // colors the background of one view 
  --bs-body-bg: #{mix($orange-300, $orange-400)};

  --bs-tertiary-bg: #{$orange-600};

  // colors component "dropdown-menu": https://getbootstrap.com/docs/5.3/components/dropdowns/
  // class="dropdown", class="dropdown-menu"
  .dropdown-menu {
    --bs-dropdown-bg: #{mix($orange-500, $orange-600)};
    --bs-dropdown-link-active-bg: #{$orange-700};
  }

  // the component (button in this case) you want to theme / color:
  .btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $orange-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $orange-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $orange-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }
}

[data-bs-theme="red"] {
  // --bs-body-color: var(--bs-white);  // colors any text on a view 
  --bs-body-color: #{$red-900}; // colors any text on a view 

  // --bs-body-bg: var(--bs-red);  // colors the background of one view 
  // --bs-body-bg: #{mix($red-100, $red-900)};
  --bs-body-bg: #{mix($red-500, $orange-500)};

  --bs-tertiary-bg: #{$red-600};

  // colors component "dropdown-menu": https://getbootstrap.com/docs/5.3/components/dropdowns/
  // class="dropdown", class="dropdown-menu"
  .dropdown-menu {
    --bs-dropdown-bg: #{mix($red-500, $red-600)};
    --bs-dropdown-link-active-bg: #{$red-700};
  }

  // the component (button in this case) you want to theme / color:
  .btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $red-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $red-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $red-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }
}

// other themes using: [data-bs-theme="<name>"]{ key: value }

// usage (compile SCSS into CSS): in directory \src\scss: sass <source-file> <target-file> 
// example: sass index.scss index.css 